<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="workstation id=SistemaAero.mssql.somee.com;packet size=4096;user id=JtEng_SQLLogin_1;pwd=rem1qab1ps;data source=SistemaAero.mssql.somee.com;persist security info=False;initial catalog=SistemaAero;TrustServerCertificate=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>